*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}
/* 'Franklin Gothic Medium',  */
body{
    height: 450px;
    width: 300px;
    background-color: black;
    /* background-image:url("../images/abstract-purple-sunburst-border-frame.jpg"); */
    /* TODO : WAS SUCCESSFUL WHEN WEB ACCESSIBLE RESOURCES ADDED */
    /* border: 5px solid gold; */
}

.container{
    height:100%;
    width:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid silver; */
}
.settings{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    /* border: 2px solid green; */
}
.button{
    text-align: center;
    background-color: cadetblue;
    border:none;
    height:30px;
    border-radius:2px;
    padding: 5px 5px;
}
div{
    text-align: center;
}

.dropdownMenu{
    width:300px;
    position:fixed;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
}

.dropdownMenu ul{
    width:150px;
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius:4px;
}
.dropdownMenu ul li{
    list-style: none;
    display: flex;
    /* padding:5px 5px 5px 5px; */
    flex-direction: row;
    justify-content: flex-end;
}

.display_none{
    visibility: hidden;
}
.DropDownOptions{
    width:100%;
    height:100%;
    padding: 4px;
    cursor: pointer;
    color:white;
    background-color: red;
    border-radius: 3px; 
    border:1px solid black;
}
.DropDownOptions:hover{
    background-color: rgb(222, 106, 106);
    color:green;
}
a{
    text-decoration: none;
}
a:hover{
    color:green;
}